{
  "env": {
    "browser": true,
    "es6": true
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true
  },
  "rules": {
    "semi": 2,
    "eol-last": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 1,
    "no-undef": 2,
    prefer-const: 1
  }
}
